<div class="content">
  <mat-card class="signin">
    <h2>J'ai déjà un compte Vetservice</h2>

    <mat-divider></mat-divider>

    <div [hidden]="isSignIn">
      <form [formGroup]="connectForm" class="form">
        <mat-form-field
          class="input"
          appearance="outline">
          <mat-label>Adresse email</mat-label>
          <input matInput placeholder="Adresse email" formControlName="email" required>
          <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-label>Mot de passe</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
        </mat-form-field>

        <mat-checkbox formControlName="remember" style="margin: 10px">Se souvenir de mon identifiant</mat-checkbox>

        <button
          mat-raised-button
          class="inside_btn"
          style="margin: 10px"
          (click)="signIn()"
          [disabled]="!connectForm.valid"
        >Se connecter
        </button>
        <button mat-button style="color: #007bff;margin: 10px">Mot de passe oublié ?</button>
      </form>
    </div>
    <div [hidden]="!isSignIn">
      <div style="padding-top: 10px">
        <button mat-button class="btn" (click)="signInToUp()">Se connecter</button>
      </div>
    </div>
  </mat-card>
  <mat-card class="signup">
    <h2>Nouveau sur Vetservice ?</h2>
    <mat-divider></mat-divider>

    <div [hidden]="!isSignIn">
      <div [formGroup]="registerForm" class="form">

        <mat-form-field
          class="input"
          appearance="outline">
          <mat-icon matPrefix>phone</mat-icon>
          <mat-label>Numéro de téléphone</mat-label>
          <input type="tel" formControlName="phoneNb" maxlength="10" matInput placeholder="0123456789">
        </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline">
          <mat-label>Adresse email</mat-label>
          <input matInput placeholder="Adresse email" formControlName="email" required>
          <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline"
          style="margin-bottom: 10px">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-label>Mot de passe</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
          <mat-hint align="start" >La taille minimale est de 5 caractères. </mat-hint>
        </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline" >
          <mat-label>Votre date de naissance </mat-label>
          <input formControlName="birthDate" [max]="maxDate" matInput [matDatepicker]="picker" readonly required>
          <mat-hint>JJ/MM/AAAA</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline">
          <mat-icon matPrefix>person</mat-icon>
          <mat-label>Nom</mat-label>
          <input formControlName="lastName" matInput required>
        </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline">
          <mat-icon matPrefix>person_outline</mat-icon>
          <mat-label>Prénom</mat-label>
          <input formControlName="firstName" matInput required>
        </mat-form-field>


        <mat-checkbox formControlName="remember" style="margin: 10px">Se souvenir de mon identifiant</mat-checkbox>

        <button
          mat-raised-button
          class="inside_btn"
          style="margin: 10px"
          (click)="signUp()"
          [disabled]="!registerForm.valid">
          S'inscrire
        </button>
      </div>
    </div>
    <div [hidden]="isSignIn">

      <div style="padding-top: 10px">
        <button mat-button class="btn" (click)="signInToUp()">S'inscrire</button>
      </div>
    </div>
  </mat-card>
</div>
