<ng-container>
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
          <tr>
            <td style="width: 25%;">nom</td>
            <th style="width: 12%;">prenom</th>
            <td style="width: 12%;">email</td>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td style="width: 12%;">test</td>
            <td style="width: 25%;">djadji </td>
            <th style="width: 12%;">traore</th>
            <td>
              <button  class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
          <tr>
            <td colspan="4"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
