<mat-tab-group dynamicHeight>
<mat-tab label=" gestion calendrier" [hidden]="profile.role!=='veterinary'">
  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
    </div>
    <button class="btn btn-primary"  (click)="openDialog()" [hidden]="profile.role!=='veterinary'"> ajouter un  crenaux  </button>
  </div>
  <mat-tab>
    <ng-template mat-tab-label>gestion de mes rdv</ng-template>
    <div>
      <div >
        <div class="item">
          <div class="container">
            <div class="row">
              <ng-container >
                <div class="card col-md-3">
                  <img src="assets/ping.png" alt="">
                  <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">MR loma risse</h5>
                  <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"> vaccination</p>
                  <p><strong> 17H</strong></p>
                  <button class="btn btn-primary"> supprimer le RDV</button>
                </div>
              </ng-container>
              <ng-container >
                <div class="card col-md-3">
                  <img src="assets/ping.png" alt="">
                  <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">MR loma risse</h5>
                  <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"> vaccination</p>
                  <p><strong> 17H</strong></p>
                  <button class="btn btn-primary"> supprimer le RDV</button>
                </div>
              </ng-container>
              <ng-container >
                <div class="card col-md-3">
                  <img src="assets/ping.png" alt="">
                  <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">MR loma risse</h5>
                  <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"> vaccination</p>
                  <p><strong> 17H</strong></p>
                  <button class="btn btn-primary"> supprimer le RDV</button>
                </div>
              </ng-container>

            </div>
          </div>


        </div>
      </div>
    </div>

  </mat-tab>
  <mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selected" (selectedChange)="getvetDispo()"></mat-calendar>
  </mat-card>

  <div>
    <div >
      <div class="item">
        <div class="container">
          <div class="row">

            <ng-container *ngFor="let app of dayLisList">
              <div class="card col-md-3">
                <img src="assets/cat.png" alt="">
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"> {{app.date}} </p>
                <p><strong> 17H</strong></p>
                <button class="btn btn-primary" (click)="deleteVetDisponibility(app._id)"> supprimer le crenaux</button>
              </div>
            </ng-container>


          </div>
        </div>


      </div>
    </div>
  </div>






</mat-tab>
  <mat-tab label="prendre Mes rendez-vous " [hidden]="profile.role!=='client'">
    <header>
      <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
          <div class="form-group">

        </div>
        </div>
      </div>
    </header>
    <form>
      <h2>selectionner une specialité </h2>
      <mat-form-field appearance="fill">
        <mat-label>Favorite food</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>  {{selectedValue}} </p>

    </form>
    <h2>selectionner une date </h2>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>
  </mat-tab >
  <button class="btn btn-primary"> trouver un rdv</button>



</mat-tab-group>


