<mat-tab-group>
  <mat-tab label=" rendevous ">
    <ng-container>
      <div class="container">
        <div class="card-table">
          <div class="cart-product">
            <table class="table table-responsive">
              <thead>
              <tr>
                <td style="width: 25%;">veterinaire</td>
                <th style="width: 12%;">client</th>
                <td style="width: 12%;">rdv date</td>
                <td style="width: 12%;"> supprimer </td>
                <td style="width: 12%;"> valider le compte </td>
                <td style="width: 12%;"> status du compte </td>


              </tr>
              </thead>
              <tbody>
              <tr >
                <td style="width: 12%;">test</td>
                <td style="width: 25%;">djadji </td>
                <th style="width: 12%;">traore</th>
                <td>
                  <button (click)="removeItem()" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </td>
                <td>
                  <mat-button-toggle (click)="refuseteVetProfile('3')"  value="underline">Underline</mat-button-toggle>

                </td>
                <td> valide</td>
              </tr>
              <tr>
                <td colspan="4"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>

  </mat-tab>

  <mat-tab label="Veterinaire">
    <ng-container>
      <div class="container">
        <div class="card-table">
          <div class="cart-product">
            <table class="table table-responsive">
              <thead>
              <tr>
                <td style="width: 25%;">nom</td>
                <th style="width: 12%;">prenom</th>
                <td style="width: 12%;">email</td>
              </tr>
              </thead>
              <tbody>
              <tr >
                <td style="width: 12%;">test</td>
                <td style="width: 25%;">djadji </td>
                <th style="width: 12%;">traore</th>
                <td>
                  <button (click)="removeItem()" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
              <tr>
                <td colspan="4"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>

  </mat-tab>
  <mat-tab label="clients">     <ng-container>
    <div class="container">
      <div class="card-table">
        <div class="cart-product">
          <table class="table table-responsive">
            <thead>
            <tr>
              <td style="width: 25%;">nom</td>
              <th style="width: 12%;">prenom</th>
              <td style="width: 12%;">email</td>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td style="width: 12%;">test</td>
              <td style="width: 25%;">djadji </td>
              <th style="width: 12%;">traore</th>
              <td>
                <button (click)="removeItem()" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
            <tr>
              <td colspan="4"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
  </mat-tab>
</mat-tab-group>
