
.content {
  display:compact;
  justify-content:right;
  flex-direction:column-reverse;
  background-color: rgba(0, 123, 255, 0.39);
}

.form{
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;

}

.test{
  flex-direction: row;
}

.address{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.address_input{

  width: 240px;
  margin: 10px;
}
h2{
  color: #007bff;
}
.btn {
  color: #fff;
  font-size: 20px;
  background-color: #007bff;
;
}


.input {
  width: 500px;
}

.signup{
  margin: 50px;
  text-align: center;
  padding: 20px 50px;
}
