<div class="content">
  <mat-card class="signup">
    <h2 style="color: #007bff"> La nouvelle génération de solutions pour les praticiens ? </h2>
    <h3>Équipez vous de VetService et
      gagnez du temps au quotidien
      gagnez en confort de travail
      améliorez la prise en charge de vos patients
      développez votre activité</h3>

    <mat-divider></mat-divider>

      <div [formGroup]="registerForm" class="form">
        <div>
          <img src="assets/10668.png" width="30% " >
        </div>
        <mat-form-field
          class="input"
          appearance="outline">
          <mat-label>Adresse email</mat-label>
          <input matInput placeholder="Adresse email" formControlName="email" required>
          <mat-icon color="#00AA55" matPrefix>email</mat-icon>
        </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline"
          style="margin-bottom: 10px">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-label>Mot de passe</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
          <mat-hint align="start" >La taille minimale est de 5 caractères. </mat-hint>
        </mat-form-field>



        <mat-form-field
          class="input"
          appearance="outline">
          <mat-label>Votre date de naissance </mat-label>
          <input formControlName="birthDate" [max]="maxDate" matInput [matDatepicker]="picker" readonly required>
          <mat-hint>JJ/MM/AAAA</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline">
          <mat-icon matPrefix>person_outline</mat-icon>
          <mat-label>Prénom</mat-label>
          <input formControlName="firstName" matInput required>
        </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline">
          <mat-icon matPrefix>person</mat-icon>
          <mat-label>Nom</mat-label>
          <input formControlName="lastName" matInput required>
        </mat-form-field>

        <mat-form-field
            class="input"
            appearance="outline">
            <mat-label>Choisissez votre specialité</mat-label>
            <mat-select formControlName="speciality" required formControlName="speciality">
              <mat-option *ngFor="let sepc of speciality" [value]="sepc">
                {{sepc}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline">
          <mat-label>Numéro RPPS
          </mat-label>
          <input formControlName="rpps" type="tel" maxlength="12" matInput required>
        </mat-form-field>

        <h3>Informations du cabinet :</h3>

        <mat-form-field
          class="input"
          appearance="outline">
          <mat-label>Nom de l'établissement</mat-label>
          <input formControlName="name" matInput required>
        </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline">
          <mat-icon matPrefix>phone</mat-icon>
          <mat-label>Numéro de téléphone</mat-label>
          <input type="tel" formControlName="phoneNb" maxlength="10" matInput placeholder="0123456789" required>
        </mat-form-field>

        <mat-form-field
          class="input"
          appearance="outline">
          <mat-label>Adresse postal</mat-label>
          <input formControlName="address" matInput required>
        </mat-form-field>

        <div class="address">

          <mat-form-field
            class="address_input"
            appearance="outline">
            <mat-icon matPrefix>location_city</mat-icon>
            <mat-label>Ville</mat-label>
            <input formControlName="city" matInput required>
          </mat-form-field>

          <mat-form-field
            class="address_input"
            appearance="outline">
            <mat-label>Code Postal</mat-label>
            <input formControlName="postalCode" matInput maxlength="5" required>
            <mat-hint align="end">{{getPostalCodeLength()}} / 5</mat-hint>
          </mat-form-field>

        </div>


        <button
        mat-raised-button
        class="inside_btn"
        style="margin: 10px"
        (click)="signUp()"
        [disabled]="!registerForm.valid">
        S'inscrire en tant que pro
      </button>

    </div>
  </mat-card>
</div>
