<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/products"><mat-icon>dashboard</mat-icon>Products</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile"><mat-icon>face</mat-icon> Profile</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/schaduler"><mat-icon>schedule</mat-icon> Schedule</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/services"><mat-icon>pets</mat-icon> Services</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/newsletter"><mat-icon>receipt</mat-icon> Newslettre</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin"><mat-icon>receipt</mat-icon> Admin</a>


</mat-nav-list>
